@import "./bulma/css/bulma.css";


html {
  scroll-behavior: smooth;
}

#home {
  background-image: url("https://brothersofchrist.com.ph/assets/img/new-hero-bg.JPG");
  background-position: center;
  background-size: cover;
}

.has-text-shadow-blue {
  text-shadow: 0px 0px 50px rgba(0, 110, 255, 1);
}

.has-text-shadow-black {
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}