html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

#home {
  background-image: url("../img/new-hero-bg.JPG");
  background-position: center;
  background-size: cover;
}

.has-text-shadow-blue {
  text-shadow: 0px 0px 50px rgba(0, 110, 255, 1);
}

.has-text-shadow-black {
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.center {
  text-align: center;
}

.circle {
  border-radius: 40%;
  border: 2px solid;
  border-color: black;
  width: 15rem;
}

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.card-image {
  display: block;
  position: relative;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {

  .navbar-item:hover {
    background-color: #3082C5;
    transition: 0.8s;
  }

  .menu-list li a:not(.is-active):hover {
    background-color: #f5f5f5;
    transition: 0.3s;
  }
}

/* ANIMATION */


.zoom {
  animation: zoom 0.6s;
}

.fade-in {
  animation: fade-in ease 2s;
}

.fadeLeft {
  animation: fade-left 1s ease-in;
}

.fadeRight {
  animation: fade-right 1s ease-in;
}

.fadeBottom {
  animation: fade-bottom 1s ease-in;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fadeIn {
  animation: fade-in ease 1s;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

.active.fade-zoom {
  animation: zoom 0.6s;
}


/* KEYFRAMES for ANIMATION */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}